@import '../../styles/settings.scss';

.listForm{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 10px;
    margin-top: 10px;
}

.b4inputs{
    margin: 0 15px;
}

@media (max-width: 767px) {
    .columnForm {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
    .inputs{
        display: inline-flex;
        position: relative;
        left: -6%;
    }
  }